*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
}

.game {
  width: 600px;
  height: 300px;
  border: 1px solid black;
  margin: auto;
  position: relative;
  /* overflow: hidden; */
}

.score {
  position: absolute;
  font-size: 3vmin;
  right: 1vmin;
  top: 1vmin;
}

.start {
  position: absolute;
  font-size: 3vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

#bill {
  height: 50%;
  bottom: 0;
  position: absolute;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  30% {
    bottom: 50%;
  }

  70% {
    bottom: 50%;
  }

  100% {
    bottom: 0;
  }
}

#chair {
  height: 30%;
  bottom: 0;
  position: absolute;
  left: 92%;
}

.run {
  animation: chair 1s linear infinite;
}

@keyframes chair {
  0% {
    left: 92%;
  }

  100% {
    left: -3%;
  }
}