*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
}

@font-face {
  font-family: 'WinFont';
  src: url('./public/fonts/w95fa.woff2') format('woff2'),
    url('./public/fonts/w95fa.woff') format('woff');
}

body {
  margin: auto;
  min-height: 100vh;
  background-color: #c0c7c8;
  font-family: 'WinFont', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outter-window {
  width: 900px;
  height: 600px;
  border: 2.5px solid #c0c7c8;
  box-shadow:
    /* Outter Shadow */
    2.5px 2.5px black,
    -2.5px 2.5px black,
    2.5px -2.5px black,
    -2.5px -2.5px black,
    /* Inner Shadow */
    inset 2.5px 2.5px black,
    inset -2.5px 2.5px black,
    inset 2.5px -2.5px black,
    inset -2.5px -2.5px black;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.top-blue-bar {
  width: 100%;
  height: 5%;
  margin-bottom: 2.5px;
  box-shadow: 0 2.5px black;
  background-color: #0000a8;
}

.top-gray-square {
  width: 5%;
  height: 100%;
  border-right: 2.5px solid black;
  background-color: #c0c7c8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.minimizer {
  border: 2.5px solid black;
  width: 50%;
  height: 5%;
  background: white;
  box-shadow: 2px 2px #87888f
}

.menu-bar {
  width: 99.4%;
  height: 5%;
  font-size: 1.5em;
  margin-bottom: 60px;
  border-bottom: 2.5px solid black;
  border-left: 2.5px solid black;
  border-right: 2.5px solid black;
  display: flex;
  align-items: center;
  position: relative;
}

.about,
.help,
.bill-video,
.game {
  display: none;
}

.about.active,
.help.active,
.bill-video.active,
.game.active {
  display: block;
}

.span-about::first-letter {
  text-decoration: underline;
  cursor: pointer;
}

.span-help::first-letter {
  text-decoration: underline;
  cursor: pointer;
}

.window {
  width: 90%;
  height: 60%;
  border: 2.5px solid black;
  background-color: #0000a8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  width: 97%;
  height: 95%;
  border: 1px solid white;
  background-color: white;
}

.bottom-blue-bar {
  height: 9%;
  box-shadow: 0 2.5px black;
  background-color: #0000a8;
}

.bottom-gray-square {
  width: 5%;
  height: 100%;
  border-right: 2.5px solid black;
  background-color: #c0c7c8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  height: 91%;
  display: flex;
}

.about-text {
  padding: 1em;
  text-align: justify;
  font-size: 90%;
  width: 100%;
  overflow: hidden;
}

.about-video {
  padding: 1em;
  width: 100%;
}

.bill-youtube-video {
  width: 100%;
  height: 100%;
}

.help {
  width: 100%;
  height: 100%;
}

.help-youtube-video {
  width: 100%;
  height: 100%;
}

.game {
  width: 97%;
  height: 95%;
  border: 1px solid white;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.game-name {
  position: absolute;
  right: 47%;
  top: 3%;
  color: white;
}

.score {
  position: absolute;
  font-size: 1.5em;
  right: 1%;
  top: 2%;
  color: white;
}

.start {
  position: absolute;
  font-size: 1.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

#bill {
  height: 40%;
  bottom: 0;
  position: absolute;
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  30% {
    bottom: 50%;
  }

  70% {
    bottom: 50%;
  }

  100% {
    bottom: 0;
  }
}

#chair {
  height: 30%;
  bottom: 0;
  position: absolute;
  left: 93%;
}

.run {
  animation: chair 1s linear infinite;
}

@keyframes chair {
  0% {
    left: 93%;
  }

  100% {
    left: -2%;
  }
}

#bill-icon {
  width: 92px;
  position: absolute;
  left: 5%;
  bottom: 3%;
  cursor: pointer;
}